body {
	background-color:black;
	display:flex;
	flex-direction:column;
	align-items:center;
}


h1 {
	font-size:2rem;
	text-align:center;
}

h2 {
	font-size:1.5rem;
}

h3 {
	font-size:1.2rem;
}

a {
	text-decoration:none;
}
	
a:focus,
a:hover,
a:active {
  font-weight:bold;
}

a:active {
  font-size:1.2rem;
}

nav ul {
	display:flex;
	justify-content:space-around;
	flex-direction:row;
	align-items:stretch;
}

nav ul li {
	list-style-type:none
}

nav ul li a {
	text-transform:uppercase;
}

p,a,span,h1,h2,h3 {
	color:white;
}

article {
	border-top :1px solid white;
	background-color:#252524;
	padding:1rem;
}
